In [1]:
import pandas as pd
result=pd.read_csv('idkgrade.csv')

In [2]:
def nominalToNumber(dataframe,column,mapping):
    dataframe[column] = dataframe[column].map(mapping)
    return dataframe

def encodeData(studentData):
    registerno={
'IDK16IT001-ABHINANDHA  P':65,
'IDK16IT002-AHMED BAHEEJ K':66,
'IDK16IT003-AISWARYA  K.P':67,
'IDK16IT004-AJMAL  ':68,
'IDK16IT006-AKHIL  VINOD':69,
'IDK16IT007-ANANTHU  K':70,
'IDK16IT008-ANJALI  K P':71,
'IDK16IT010-ANWAR  FAROOQ':72,
'IDK16IT011-ARUN  G':73,
'IDK16IT012-ASHETHA  K':74,
'IDK16IT013-ASHRITH  MV':75,
'IDK16IT014-ASMIDA  NHARAKODAN':76,
'IDK16IT015-ASWINI  K D':77,
'IDK16IT016-ATHIRA  ARAVIND':78,
'IDK16IT017-ATUL MADHUSUDHANA PANICKER':79,
'IDK16IT019-DILIGENT ORATER LEE':80,
'IDK16IT020-ELSE PAUL ISAC':81,
'IDK16IT021-GOKUL  BABU':82,
'IDK16IT022-JEFFY  JAMES':83,
'IDK16IT023-JIJINA  THOMAS':84,
'IDK16IT025-LEKSHMI  C D':85,
'IDK16IT027-MANEESHA  M R':86,
'IDK16IT029-MEHNAS  P.B':87,
'IDK16IT030-MELBIN  C M':88,
'IDK16IT031-MINU  MUMTHAS K':89,
'IDK16IT034-MOHAMMED RAMZAN K':90,
'IDK16IT035-MOHAMMED SHAMEEM P V':91,
'IDK16IT037-NIMITHA  J':92,
'IDK16IT038-NIVEDITHA  T.P':93,
'IDK16IT039-NURANNEESA  K':94,
'IDK16IT040-PARVATHY  KS':95,
'IDK16IT043-RAHUL  R':96,
'IDK16IT044-SANA  V H':97,
'IDK16IT045-SHARATH  A':98,
'IDK16IT046-SILPA  K S':99,
'IDK16IT047-SILPA MOL P S':100,
'IDK16IT048-SILPA  VINOD':101,
'IDK16IT049-SURYAJITH  S':102,
'IDK16IT050-SWATHI  T K':103,
'IDK16IT052-VINAYA  MUKUNDAN':104,
'IDK16IT053-VINOD KRISHNAN  R.H':105,
'IDK16IT054-VISHNU  MP':106,
'IDK16IT055-VISMAYA  S':107,
'LIDK16IT056-AISHWARYA  PUSHPARAJ':108
}
    
    studentData = nominalToNumber(studentData,'Student',registerno)
    
    gradeMapping = {'O':10,'A+':9,'A':8,'B+':7,'B':6,'C':5,'P':4,'F':0,'FE':0,'AB':0}
    studentData = nominalToNumber(studentData,'IT302',gradeMapping)
    studentData = nominalToNumber(studentData,'IT304',gradeMapping)
    studentData = nominalToNumber(studentData,'CS304',gradeMapping)
    studentData = nominalToNumber(studentData,'IT306',gradeMapping)
    studentData = nominalToNumber(studentData,'HS300',gradeMapping)
    studentData = nominalToNumber(studentData,'MA362',gradeMapping)
    studentData = nominalToNumber(studentData,'IT366',gradeMapping)
    studentData = nominalToNumber(studentData,'IT332',gradeMapping)
    studentData = nominalToNumber(studentData,'IT334',gradeMapping)
    studentData = nominalToNumber(studentData,'IT352',gradeMapping)
    return studentData

In [3]:
encodeData(result)

,Student,IT302,CS304,IT304,IT306,HS300,MA362,IT366,IT332,IT334,IT352
0,65,4,5,5,5,6,NaN,5.0,6.0,10.0,5
1,66,9,7,7,7,7,NaN,5.0,8.0,10.0,5
2,67,7,5,5,6,6,NaN,5.0,5.0,8.0,6
3,68,5,5,0,0,7,5.0,NaN,4.0,7.0,5
4,69,4,5,0,0,0,NaN,0.0,0.0,7.0,4
5,70,5,5,0,5,6,5.0,NaN,5.0,7.0,5
6,71,8,7,6,10,7,NaN,8.0,7.0,10.0,6
7,72,6,0,5,7,5,NaN,5.0,7.0,9.0,5
8,73,9,5,5,7,5,6.0,NaN,8.0,10.0,6
9,74,9,7,6,8,8,NaN,6.0,8.0,10.0,6
10,75,5,4,0,5,0,NaN,4.0,0.0,8.0,4
11,76,9,8,7,8,8,NaN,6.0,10.0,10.0,7
12,77,5,5,6,6,8,NaN,6.0,6.0,9.0,5
13,78,6,6,6,7,8,NaN,5.0,6.0,9.0,6
14,79,0,0,0,5,0,NaN,4.0,NaN,NaN,0
15,80,4,0,0,0,0,NaN,4.0,NaN,NaN,4
16,81,0,0,0,5,0,NaN,4.0,NaN,NaN,4
17,82,7,5,5,6,7,NaN,5.0,7.0,10.0,6
18,83,7,7,5,7,6,NaN,5.0,8.0,10.0,6
19,84,7,5,5,6,6,NaN,5.0,7.0,10.0,6
20,85,7,7,6,6,6,NaN,5.0,6.0,9.0,7
21,86,6,6,6,7,7,NaN,7.0,6.0,9.0,5
22,87,7,6,6,6,8,NaN,5.0,6.0,10.0,5
23,88,4,4,0,5,5,NaN,5.0,5.0,8.0,6
24,89,6,6,6,5,6,NaN,5.0,7.0,9.0,6
25,90,5,0,6,5,6,5.0,NaN,5.0,8.0,5
26,91,5,0,0,0,5,NaN,5.0,5.0,7.0,6
27,92,6,0,5,5,5,NaN,6.0,6.0,8.0,6
28,93,7,6,6,6,7,NaN,5.0,6.0,9.0,5
29,94,5,4,6,7,6,NaN,5.0,6.0,8.0,5
30,95,7,6,6,7,8,NaN,5.0,7.0,10.0,6
31,96,5,5,6,6,6,NaN,5.0,7.0,9.0,6
32,97,9,7,9,9,9,7.0,NaN,8.0,10.0,6
33,98,7,5,5,5,5,5.0,NaN,5.0,7.0,6
34,99,6,6,5,5,6,NaN,5.0,5.0,8.0,6
35,101,5,5,6,6,7,NaN,5.0,6.0,9.0,6
36,102,5,5,5,6,6,5.0,NaN,5.0,9.0,4
37,103,7,6,6,7,8,NaN,6.0,5.0,9.0,6
38,104,6,6,5,8,7,NaN,6.0,6.0,9.0,6
39,105,5,5,5,0,6,6.0,NaN,6.0,9.0,5
40,106,7,5,5,5,5,5.0,NaN,6.0,9.0,5
41,107,5,5,5,5,4,NaN,4.0,5.0,8.0,5
42,108,5,4,5,6,5,NaN,5.0,5.0,8.0,5

In [4]:
result.to_csv(r'idk_S6.csv', index = False, header=True)