In [1]:
# AutoEncoders

# Importing the libraries
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [2]:
# # Importing the dataset
#data = pd.read_csv('Dataset/Internal/ConsolidateOutput.csv')
data = pd.read_csv('internal50.csv')
data= data.drop('NO.',axis=1)
data.columns

Index(['ma_internals', 'ph100_internals', 'be10105_internals',
       'be110_internals', 'be103_internals', 'ec100_internals',
       'ph110_internals', 'ec110_internals', 'cs110_internals',
       'CY100_internals', 'BE100_internals', 'EE100_internals',
       'CY110_internals', 'EE110_internals', 'MA102_internals',
       'BE102_internals', 'CS100_internals', 'CS120_internals',
       'CS202_internas', 'IT202_internals', 'IT204_internals',
       'HS200_internals', 'MA202_internals', 'CS208_internals',
       'IT232_internals', 'IT234_internals', 'CS305_internals',
       'IT301_internals', 'IT303_internals', 'IT305_internals',
       'IT307_internals', 'IT341_internas', 'IT331_internals',
       'IT333_internals', 'IT367_internals', 'IT363_internals',
       'HS300_internals', 'CS304_internals', 'IT304_internals',
       'IT306_internals', 'IT364_internals', 'IT302_internals',
       'IT332_internals', 'IT334_internals', 'IT352_internals',
       'IT366_internals'],
      dtype='object')

In [3]:
# Preparing the training set and the test set
training_set = pd.read_csv('all_train_int50.csv')
training_set= training_set.drop('NO.',axis=1)
training_set = np.array(training_set, dtype = 'int')#user_id,movie_id,ratings
test_set = pd.read_csv('all_test_int50.csv')
test_set= test_set.drop('NO.',axis=1)
test_set = np.array(test_set, dtype = 'int')
test_set.shape
#training_set.shape

(11, 46)

In [4]:
test_set.shape
#training_set.shape

(11, 46)

In [5]:
#nb_students = int(max(max(training_set[:,0]), max(test_set[:,0])))
#nb_courses = int(max(max(training_set[:,1]), max(test_set[:,1])))
nb_students = max(training_set.shape[0], test_set.shape[0])-1
nb_courses = max(training_set.shape[1], test_set.shape[1])
nb_students
#nb_courses

42

In [6]:
# Converting the data into Torch tensors
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [7]:
# Creating the architecture of the Neural Network
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_courses, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_courses)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x.view(x.size(0), -1) 
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [8]:
# Training the SAE
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_students):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_courses/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            
            train_loss += np.sqrt(loss.item()*mean_corrector)

            s += 1.
            optimizer.step()
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

epoch: 1 loss: 2.0111712890123832e+18
epoch: 2 loss: 2.0111712890123832e+18
epoch: 3 loss: 2.0111712890123832e+18
epoch: 4 loss: 2.0111712890123832e+18
epoch: 5 loss: 2.0111712890123832e+18
epoch: 6 loss: 2.0111712890123832e+18
epoch: 7 loss: 2.0111712890123832e+18
epoch: 8 loss: 2.0111712890123832e+18
epoch: 9 loss: 2.0111712890123832e+18
epoch: 10 loss: 2.0111712890123832e+18
epoch: 11 loss: 2.0111712890123832e+18
epoch: 12 loss: 2.0111712890123832e+18
epoch: 13 loss: 2.0111712890123832e+18
epoch: 14 loss: 2.0111712890123832e+18
epoch: 15 loss: 2.0111712890123832e+18
epoch: 16 loss: 2.0111712890123832e+18
epoch: 17 loss: 2.0111712890123832e+18
epoch: 18 loss: 2.0111712890123832e+18
epoch: 19 loss: 2.0111712890123832e+18
epoch: 20 loss: 2.0111712890123832e+18
epoch: 21 loss: 2.0111712890123832e+18
epoch: 22 loss: 2.0111712890123832e+18
epoch: 23 loss: 2.0111712890123832e+18
epoch: 24 loss: 2.0111712890123832e+18
epoch: 25 loss: 2.0111712890123832e+18
epoch: 26 loss: 2.0111712890123832e+18
epoch: 27 loss: 2.0111712890123832e+18
epoch: 28 loss: 2.0111712890123832e+18
epoch: 29 loss: 2.0111712890123832e+18
epoch: 30 loss: 2.0111712890123832e+18
epoch: 31 loss: 2.0111712890123832e+18
epoch: 32 loss: 2.0111712890123832e+18
epoch: 33 loss: 2.0111712890123832e+18
epoch: 34 loss: 2.0111712890123832e+18
epoch: 35 loss: 2.0111712890123832e+18
epoch: 36 loss: 2.0111712890123832e+18
epoch: 37 loss: 2.0111712890123832e+18
epoch: 38 loss: 2.0111712890123832e+18
epoch: 39 loss: 2.0111712890123832e+18
epoch: 40 loss: 2.0111712890123832e+18
epoch: 41 loss: 2.0111712890123832e+18
epoch: 42 loss: 2.0111712890123832e+18
epoch: 43 loss: 2.0111712890123832e+18
epoch: 44 loss: 2.0111712890123832e+18
epoch: 45 loss: 2.0111712890123832e+18
epoch: 46 loss: 2.0111712890123832e+18
epoch: 47 loss: 2.0111712890123832e+18
epoch: 48 loss: 2.0111712890123832e+18
epoch: 49 loss: 2.0111712890123832e+18
epoch: 50 loss: 2.0111712890123832e+18
epoch: 51 loss: 2.0111712890123832e+18
epoch: 52 loss: 2.0111712890123832e+18
epoch: 53 loss: 2.0111712890123832e+18
epoch: 54 loss: 2.0111712890123832e+18
epoch: 55 loss: 2.0111712890123832e+18
epoch: 56 loss: 2.0111712890123832e+18
epoch: 57 loss: 2.0111712890123832e+18
epoch: 58 loss: 2.0111712890123832e+18
epoch: 59 loss: 2.0111712890123832e+18
epoch: 60 loss: 2.0111712890123832e+18
epoch: 61 loss: 2.0111712890123832e+18
epoch: 62 loss: 2.0111712890123832e+18
epoch: 63 loss: 2.0111712890123832e+18
epoch: 64 loss: 2.0111712890123832e+18
epoch: 65 loss: 2.0111712890123832e+18
epoch: 66 loss: 2.0111712890123832e+18
epoch: 67 loss: 2.0111712890123832e+18
epoch: 68 loss: 2.0111712890123832e+18
epoch: 69 loss: 2.0111712890123832e+18
epoch: 70 loss: 2.0111712890123832e+18
epoch: 71 loss: 2.0111712890123832e+18
epoch: 72 loss: 2.0111712890123832e+18
epoch: 73 loss: 2.0111712890123832e+18
epoch: 74 loss: 2.0111712890123832e+18
epoch: 75 loss: 2.0111712890123832e+18
epoch: 76 loss: 2.0111712890123832e+18
epoch: 77 loss: 2.0111712890123832e+18
epoch: 78 loss: 2.0111712890123832e+18
epoch: 79 loss: 2.0111712890123832e+18
epoch: 80 loss: 2.0111712890123832e+18
epoch: 81 loss: 2.0111712890123832e+18
epoch: 82 loss: 2.0111712890123832e+18
epoch: 83 loss: 2.0111712890123832e+18
epoch: 84 loss: 2.0111712890123832e+18
epoch: 85 loss: 2.0111712890123832e+18
epoch: 86 loss: 2.0111712890123832e+18
epoch: 87 loss: 2.0111712890123832e+18
epoch: 88 loss: 2.0111712890123832e+18
epoch: 89 loss: 2.0111712890123832e+18
epoch: 90 loss: 2.0111712890123832e+18
epoch: 91 loss: 2.0111712890123832e+18
epoch: 92 loss: 2.0111712890123832e+18
epoch: 93 loss: 2.0111712890123832e+18
epoch: 94 loss: 2.0111712890123832e+18
epoch: 95 loss: 2.0111712890123832e+18
epoch: 96 loss: 2.0111712890123832e+18
epoch: 97 loss: 2.0111712890123832e+18
epoch: 98 loss: 2.0111712890123832e+18
epoch: 99 loss: 2.0111712890123832e+18
epoch: 100 loss: 2.0111712890123832e+18
epoch: 101 loss: 2.0111712890123832e+18
epoch: 102 loss: 2.0111712890123832e+18
epoch: 103 loss: 2.0111712890123832e+18
epoch: 104 loss: 2.0111712890123832e+18
epoch: 105 loss: 2.0111712890123832e+18
epoch: 106 loss: 2.0111712890123832e+18
epoch: 107 loss: 2.0111712890123832e+18
epoch: 108 loss: 2.0111712890123832e+18
epoch: 109 loss: 2.0111712890123832e+18
epoch: 110 loss: 2.0111712890123832e+18
epoch: 111 loss: 2.0111712890123832e+18
epoch: 112 loss: 2.0111712890123832e+18
epoch: 113 loss: 2.0111712890123832e+18
epoch: 114 loss: 2.0111712890123832e+18
epoch: 115 loss: 2.0111712890123832e+18
epoch: 116 loss: 2.0111712890123832e+18
epoch: 117 loss: 2.0111712890123832e+18
epoch: 118 loss: 2.0111712890123832e+18
epoch: 119 loss: 2.0111712890123832e+18
epoch: 120 loss: 2.0111712890123832e+18
epoch: 121 loss: 2.0111712890123832e+18
epoch: 122 loss: 2.0111712890123832e+18
epoch: 123 loss: 2.0111712890123832e+18
epoch: 124 loss: 2.0111712890123832e+18
epoch: 125 loss: 2.0111712890123832e+18
epoch: 126 loss: 2.0111712890123832e+18
epoch: 127 loss: 2.0111712890123832e+18
epoch: 128 loss: 2.0111712890123832e+18
epoch: 129 loss: 2.0111712890123832e+18
epoch: 130 loss: 2.0111712890123832e+18
epoch: 131 loss: 2.0111712890123832e+18
epoch: 132 loss: 2.0111712890123832e+18
epoch: 133 loss: 2.0111712890123832e+18
epoch: 134 loss: 2.0111712890123832e+18
epoch: 135 loss: 2.0111712890123832e+18
epoch: 136 loss: 2.0111712890123832e+18
epoch: 137 loss: 2.0111712890123832e+18
epoch: 138 loss: 2.0111712890123832e+18
epoch: 139 loss: 2.0111712890123832e+18
epoch: 140 loss: 2.0111712890123832e+18
epoch: 141 loss: 2.0111712890123832e+18
epoch: 142 loss: 2.0111712890123832e+18
epoch: 143 loss: 2.0111712890123832e+18
epoch: 144 loss: 2.0111712890123832e+18
epoch: 145 loss: 2.0111712890123832e+18
epoch: 146 loss: 2.0111712890123832e+18
epoch: 147 loss: 2.0111712890123832e+18
epoch: 148 loss: 2.0111712890123832e+18
epoch: 149 loss: 2.0111712890123832e+18
epoch: 150 loss: 2.0111712890123832e+18
epoch: 151 loss: 2.0111712890123832e+18
epoch: 152 loss: 2.0111712890123832e+18
epoch: 153 loss: 2.0111712890123832e+18
epoch: 154 loss: 2.0111712890123832e+18
epoch: 155 loss: 2.0111712890123832e+18
epoch: 156 loss: 2.0111712890123832e+18
epoch: 157 loss: 2.0111712890123832e+18
epoch: 158 loss: 2.0111712890123832e+18
epoch: 159 loss: 2.0111712890123832e+18
epoch: 160 loss: 2.0111712890123832e+18
epoch: 161 loss: 2.0111712890123832e+18
epoch: 162 loss: 2.0111712890123832e+18
epoch: 163 loss: 2.0111712890123832e+18
epoch: 164 loss: 2.0111712890123832e+18
epoch: 165 loss: 2.0111712890123832e+18
epoch: 166 loss: 2.0111712890123832e+18
epoch: 167 loss: 2.0111712890123832e+18
epoch: 168 loss: 2.0111712890123832e+18
epoch: 169 loss: 2.0111712890123832e+18
epoch: 170 loss: 2.0111712890123832e+18
epoch: 171 loss: 2.0111712890123832e+18
epoch: 172 loss: 2.0111712890123832e+18
epoch: 173 loss: 2.0111712890123832e+18
epoch: 174 loss: 2.0111712890123832e+18
epoch: 175 loss: 2.0111712890123832e+18
epoch: 176 loss: 2.0111712890123832e+18
epoch: 177 loss: 2.0111712890123832e+18
epoch: 178 loss: 2.0111712890123832e+18
epoch: 179 loss: 2.0111712890123832e+18
epoch: 180 loss: 2.0111712890123832e+18
epoch: 181 loss: 2.0111712890123832e+18
epoch: 182 loss: 2.0111712890123832e+18
epoch: 183 loss: 2.0111712890123832e+18
epoch: 184 loss: 2.0111712890123832e+18
epoch: 185 loss: 2.0111712890123832e+18
epoch: 186 loss: 2.0111712890123832e+18
epoch: 187 loss: 2.0111712890123832e+18
epoch: 188 loss: 2.0111712890123832e+18
epoch: 189 loss: 2.0111712890123832e+18
epoch: 190 loss: 2.0111712890123832e+18
epoch: 191 loss: 2.0111712890123832e+18
epoch: 192 loss: 2.0111712890123832e+18
epoch: 193 loss: 2.0111712890123832e+18
epoch: 194 loss: 2.0111712890123832e+18
epoch: 195 loss: 2.0111712890123832e+18
epoch: 196 loss: 2.0111712890123832e+18
epoch: 197 loss: 2.0111712890123832e+18
epoch: 198 loss: 2.0111712890123832e+18
epoch: 199 loss: 2.0111712890123832e+18
epoch: 200 loss: 2.0111712890123832e+18

In [9]:
# Testing the SAE
test_loss = 0
s = 0.
for id_user in range(nb_students):
    input = Variable(training_set[id_user]).unsqueeze(0)
    #target = Variable(test_set[id_user]).unsqueeze(0)
for id_user in range(test_set.shape[0]):
    target = Variable(test_set[id_user]).unsqueeze(0)


    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_courses/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.item()*mean_corrector)

        s += 1.
print('test loss: '+str(test_loss/s))

test loss: 1.966429543785546e+18

In [10]:
dat = pd.read_csv('all_test.csv')
dat= dat.drop('NO.',axis=1)
columns=dat.columns
c=columns.tolist()
d=pd.DataFrame(c)
d

           0
0      MA101
1      PH100
2    BE10105
3      BE110
4      BE103
5      EC100
6      PH110
7      EC110
8      CS110
9      CY100
10     BE100
11     EE100
12     CY110
13     EE110
14     MA102
15     BE102
16     CS100
17     CS120
18     CS202
19     IT202
20     IT204
21     HS200
22     MA202
23     CS208
24     IT232
25     IT234
26     CS305
27     IT301
28     IT303
29     IT305
30     IT307
31     IT341
32     IT331
33     IT333
34     IT367
35     IT363
36     HS300
37     CS304
38     IT304
39     IT306
40     IT364
41     IT302
42     IT332
43     IT334
44     IT352
45     IT366

In [11]:
student_id = 2

student_grade = training_set.data.numpy()[student_id, :].reshape(-1,1)
user_target = test_set.data.numpy()[student_id, :].reshape(-1,1)
 
user_input = Variable(training_set[student_id]).unsqueeze(0)
predicted = sae(user_input)
predicted = predicted.data.numpy().reshape(-1,1)
for i in range(0,46):
    if(predicted[i]<0 and predicted[i]>(-100)):
        predicted[i] = predicted[i]/(-2)
    if(predicted[i]<(-100)):
        predicted[i] = predicted[i]/(-10)
    predicted[i] = round(int(predicted[i]))
# Join all info in one dataset
result_array = np.hstack([d, user_target, predicted])
result_array = result_array[result_array[:, 1] > 0]
result_df = pd.DataFrame(data=result_array, columns=['NO.', 'Target Rating',2 ])

In [12]:
result_df.head(44)

         NO. Target Rating   2
0      MA101            45  35
1      PH100            46  37
2    BE10105            42  43
3      BE110            47  39
4      BE103            41  40
5      EC100            50  39
6      PH110            48  46
7      EC110            49  43
8      CS110            45  44
9      CY100            42  45
10     BE100            33  38
11     EE100            48  30
12     CY110            50  48
13     EE110            48  46
14     MA102            40  29
15     BE102            44  43
16     CS100            40  33
17     CS120            47  40
18     CS202            43  35
19     IT202            44  35
20     IT204            49  38
21     HS200            37  46
22     MA202            42  27
23     CS208            44  35
24     IT232            49  42
25     IT234            44  42
26     CS305            50  41
27     IT301            45  39
28     IT303            48  33
29     IT305            47  35
30     IT307            40  34
31     IT341            47  45
32     IT331            47  40
33     IT333            48  43
34     IT367            47  43
35     HS300            47  38
36     CS304            46  38
37     IT304            50  39
38     IT306            49  38
39     IT364            49  42
40     IT302            46  40
41     IT332            49  41
42     IT334            43  41
43     IT352            43  37

In [13]:
result_df=result_df.drop(["Target Rating"],axis=1)
#result_df=result_df.drop(,axis=0)

In [14]:
result_df = result_df.transpose()
result_df

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
NO.,MA101,PH100,BE10105,BE110,BE103,EC100,PH110,EC110,CS110,CY100,...,IT367,HS300,CS304,IT304,IT306,IT364,IT302,IT332,IT334,IT352
2,35,37,43,39,40,39,46,43,44,45,...,43,38,38,39,38,42,40,41,41,37

In [15]:
result_df.to_csv (r'newtest.csv', index = True, header=False)